{%extends 'generator/base.html'%}
{%block content%}
    <h1>Информация о сайте</h1>
    <p>Генераторы паролей отличаются надежностью и защитят ваши аккаунты
        посредством сложных комбинаций, состоящих из разных символов
        (нижние подчеркивания, черты, звездочки). Это происходит автоматически
        и облегчает задачу пользователям. </p>
    <h2>Наш сайт создан именно для этого!</h2>
    <ul>
         <li>Вы можете скорректировать структуру Вашего пароля,
    выбрав количество и вид символов.</li>
         <li>После того как пароль будет сгенерориван, Вам останеться только скопировать его
    и использовать для защиты Ваших данных.</li>
    </ul>
{%endblock%}